        <span class = "is-size-4 ">
            {{title}}
        </span>

        <div class="card is-half-desktop"  *ngFor="let identification of identification | async; index as i">
            <header class="card-header">
            
              <p class="card-header-title is-uppercase has-text-weight-bold has-background-info">
                 {{ identification.firstName  + ' ' + identification.lastName}}
              </p>
           
            </header>
            <div class="card-content">
              <div class="content">
                  <p >Title : {{identification.title}}</p>
                  <p >Gender : {{identification.gender}}</p>
                  <p >Date of Birth : {{identification.dateOfBirth}}</p>
                <br>
                
              </div>
            </div>
            <footer class="card-footer">
              <a class="card-footer-item" [routerLink]="['/contacts', identification.id]">View</a>
              <a class="card-footer-item" [routerLink]="['/edit', identification.id]">Edit</a>
              <a class="card-footer-item"  (click) = "deleteContact(identification.id)">Delete</a>
            </footer>
          </div>

       