


  <div class="tile is-vertical" *ngIf="contact">
    <article class="tile is-child notification has-background-success-light">
        <div class="content">
         
            <div class="card">
                <div class="field is-grouped is-grouped-right">
                    <button   class="button is-primary" (click)="back()" >
                    Back
                    </button>
       
                  </div>
                <div class="card-content">
                  <div class="media">
                    <div class="media-left">
                      <figure class="image is-48x48">
                        <img  src="assets/images/profile.png" alt="Placeholder image">
                      </figure>
                    </div>
                    <div class="media-content">
                      <p class="title is-4">{{contact.Identification.firstName}} {{contact.Identification.lastName}}</p>
                      <p class="subtitle is-6">{{contact.Identification.title}}</p>
                    </div>
                  </div>
              
                  <div class="content is-small">
                    <h4 class="has-text-info">IDENTIFICATION</h4>
                    <hr class="divider">
                    <p><b>Gender :</b> {{contact.Identification.gender}}</p>
                    <p><b>Date of Birth :</b> {{contact.Identification.dateOfBirth | date}}</p>
                  </div>

                  <div class="content is-small">
                      <h4 class="has-text-info">ADDRESS</h4>
                      <hr class="divider">
                      <div class="column" *ngFor = "let address of contact.Address; index as i">
                        <p><b> No. :</b> {{i === 0 ? 1: i}}</p>
                        <p><b>Type :</b> {{address.type}}</p>
                        <p><b>Phone Number :</b> {{address.number}}</p>
                        <p><b>Street :</b> {{address.street}}</p>
                        <p><b>Unit :</b> {{address.unit}}</p>
                        <p><b>City :</b> {{address.city}}</p>
                        <p><b>State :</b> {{address.state}}</p>
                        <p><b>Zip Code :</b> {{address.zipCode}}</p>
                      </div> 
                    </div>

                    <div class="content is-small">
                      <h4 class="has-text-info">COMMUNICATION</h4>
                      <hr class="divider">
                      <div class="column" *ngFor = "let com of contact.Communication; index as i">
                        <p><b> No. :</b> {{i === 0 ? 1: i}}</p>
                        <p><b> Type :</b> {{com.type}}</p>
                        <p><b> Value :</b> {{com.val}}</p>
                        <p><b> Preferred :</b> {{com.preferred == true ? "Yes" : "No" }}</p>
                      </div> 
                    </div>

                </div>
              </div>
        </div>
    </article>
  </div>   

  