<body>
  <section class="hero is-info is-medium is-bold">
   <div class="hero-body"> 
    <div class="container">
      <h1 class="title">Welcome to our site!</h1>
      <h2 class="subtitle">
       
      </h2>
    </div>
  </div>
  </section>
</body>