<!--header-->
<div class="navbar is-dark">
  <div class="navbar-brand">
    <a  class="navbar-item">
      <img routerLink="home" src="assets/images/logo.png" >
    </a>

    <!-- menu -->
  <div class="navbar-menu" role="navigation" >
    <div class="navbar-brand">
      
      <a class="navbar-item" routerLink="home">Home</a>
      
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Contacts
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item" routerLink="add">Add Contact</a>
          <a class="navbar-item" routerLink="contacts">List of Contacts</a>
        </div>
      </div>
      
    </div>
  </div>

  </div>
</div>
<nav class="breadcrumb has-dot-separator"  aria-label="breadcrumbs">
  <ul>
    <li><a routerLink="contacts">List of Contacts</a></li>
    <li><a routerLink="add">Add</a></li>
   
    
  </ul>
</nav>




<router-outlet></router-outlet>

<footer class="footer">
  <div class="content has-text-centered"> 
    <p><a href="https://www.ms3-inc.com/about/"><strong>MS3</strong> </a></p>
  </div>
</footer>