
   <section class="hero is-light is-fullheight">
      <div class="hero-body">
         <div class="container">
            <article class = "message is-small is-danger" *ngIf= "!ishidden" >
                <div class = "message-header">
                   <p>{{frm_message}}</p>
                   <button class = "delete" aria-label = "delete"></button>
                </div>
              </article>
            <div class="columns is-5-tablet is-4-desktop is-3-widescreen">
               <div class="column">
                  <form  [formGroup]="identificationFrm"   class="box">
                     <div class="field is-horizontal">
                        <p class="has-text-info is-size-6">Identification</p>
                     </div>
                     <hr class="divider">
                     <!-- Identificaton -->
                     <!-- first name -->
                     <div class="field is-horizontal">
                        <div class="field-body">
                           <div class="field">
                              <label class="label">First Name:</label>
                              <p class="control is-expanded has-icons-left">
                                 <input class="input" type="text" formControlName="fname" placeholder="e.g. John" [(ngModel)]="identification.firstName" [ngClass] ="{ 'is-danger': identificationFrm.controls['fname'].invalid && (identificationFrm.controls['fname'].dirty || identificationFrm.controls['fname'].touched) ,'is-success' : identificationFrm.controls['fname'].valid }" >
                                 <span class="icon is-small is-left">
                                 <i class="fa fa-user"></i>
                                 </span>
                              </p>
                              <div *ngIf="identificationFrm.controls['fname'].invalid && (identificationFrm.controls['fname'].dirty || identificationFrm.controls['fname'].touched)">
                                <div *ngIf="identificationFrm.controls['fname'].errors.required">
                                  <p class="help is-danger">{{err_message}}</p>
                                </div>
                              </div>
   
                           </div>
  
                        <!-- last name -->
                         <div class="field">
                            <label class="label">Last Name:</label>
                            <p class="control is-expanded has-icons-left">
                               <input class="input" type="text" formControlName="lname" placeholder="e.g. Smith" [(ngModel)]="identification.lastName" [ngClass] ="{ 'is-danger': identificationFrm.controls['lname'].invalid && (identificationFrm.controls['lname'].dirty || identificationFrm.controls['lname'].touched) ,'is-success' : identificationFrm.controls['lname'].valid }" >
                               <span class="icon is-small is-left">
                               <i class="fa fa-user"></i>
                               </span>
                            </p>
                            <div *ngIf="identificationFrm.controls['lname'].invalid && (identificationFrm.controls['lname'].dirty || identificationFrm.controls['lname'].touched)">
                                <div *ngIf="identificationFrm.controls['lname'].errors.required">
                                  <p class="help is-danger">{{err_message}}</p>
                                </div>
                            </div>
  
                         </div>
  
                         <!-- date of birth -->
                         <div class="field">
                            <label class="label">Date of Birth:</label>
                            <p class="control is-expanded has-icons-left">
                               <input class="input" type="date" formControlName="dob" placeholder="e.g. Smith" [(ngModel)]="identification.dateOfBirth" [ngClass] ="{'is-success' : identificationFrm.controls['dob'].valid }" >
                               <span class="icon is-small is-left">
                               <i class="fa fa-calendar"></i>
                               </span>
                            </p>
                    
  
                         </div>
                        
                        </div>
                        
                     </div>
  
                      <!-- title -->
                      <div class="field is-horizontal">
                          <div class="field-body">
                             <div class="field">
                                <label class="label">Title</label>
                                <p class="control is-expanded has-icons-left">
                                   <input type="text" class="input" formControlName = "title" placeholder="e.g. Manager" [(ngModel)]="identification.title" [ngClass] ="{ 'is-danger': identificationFrm.controls['title'].invalid && (identificationFrm.controls['title'].dirty || identificationFrm.controls['title'].touched) ,'is-success' : identificationFrm.controls['title'].valid }">
                                   <span class="icon is-small is-left">
                                   <i class="fa fa-briefcase"></i>
                                   </span>
                                   
                                  </p>
                                  <div *ngIf="identificationFrm.controls['title'].invalid && (identificationFrm.controls['title'].dirty || identificationFrm.controls['title'].touched)">
                                      <div *ngIf="identificationFrm.controls['title'].errors.required">
                                        <p class="help is-danger">{{err_message}}</p>
                                      </div>
                                  </div>
                             </div>

                             <!-- gender -->
                             <div class="field">
                                <label class="label">Gender</label>
                                
                                <div class="control has-icons-left">
                                   <div class="select ">
             
                                      <select class="has-background"  formControlName="gender"  [(ngModel)]="identification.gender">
                                          <option *ngFor="let gender of Gender" [ngValue]="gender" >{{gender}}
                                          </option>
                                       </select>
                                   </div>
                                   <span class="icon is-small is-left">
                                   <i class="fa fa-venus-double"></i>
                                   </span>
                                </div>
                             </div>
                          </div>
                       </div>
                      
                
                       <br/>
                       <div class="field is-horizontal">
                          <p class="has-text-info is-size-6">Address</p>
                       </div>
                       <hr class="divider">

                       
                       <!-- Address-->
                       <div class="tile is-ancestor">

                           <!-- fields -->
                          <div class="tile is-vertical">
                            <div class="tile is-parent">
                              <article class="tile is-child notification has-background-success-light">
                                <div class="content">
                                  <form [formGroup]="addressFrm"  >

                                      <div class="field is-grouped is-grouped-right">
                                          <button class="button is-success" [disabled] = "addressFrm.invalid" (click)="addAddress()">
                                          Add New Address
                                          </button>
                                       </div>

                                    <div class="field is-horizontal">
                                        <div class="field-body">
                                           <!-- type -->
                                          <div class="field">
                                              <label class="label">Type:</label>
                                              <p class="control is-expanded has-icons-left">
                                                <input class="input" type="text" formControlName="addressType" placeholder="e.g. Home"  [(ngModel)]="address.type" [ngClass] ="{ 'is-danger': addressFrm.controls['addressType'].invalid && (addressFrm.controls['addressType'].dirty || addressFrm.controls['addressType'].touched),'is-success' : addressFrm.controls['addressType'].valid  }" >
                                                <span class="icon is-small is-left">
                                                <i class="fa fa-home"></i>
                                                </span>
                                              </p>
                                              <div *ngIf="addressFrm.controls['addressType'].invalid && (addressFrm.controls['addressType'].dirty || addressFrm.controls['addressType'].touched)">
                                                  <div *ngIf="addressFrm.controls['addressType'].errors.required">
                                                    <p class="help is-danger">{{err_message}}</p>
                                                  </div>
                                              </div>
                                          </div>
                                      
                                          <!-- cell phone no -->
                                          <div class="field">
                                              <label class="label">CellphoneNo:</label>
                                              <p class="control is-expanded has-icons-left">
                                                <input class="input" type="number" formControlName="cno" placeholder="e.g. 9876523451"  [(ngModel)]="address.number" [ngClass] ="{ 'is-danger': addressFrm.controls['cno'].invalid && (addressFrm.controls['cno'].dirty || addressFrm.controls['cno'].touched) ,'is-success' : addressFrm.controls['cno'].valid }" >
                                                <span class="icon is-small is-left">
                                                <i class="fa fa-phone"></i>
                                                </span>
                                              </p>  
     
                                              <div *ngIf="addressFrm.controls['cno'].invalid && (addressFrm.controls['cno'].dirty || addressFrm.controls['cno'].touched)">
                                                      
                                                  <div *ngIf="addressFrm.controls['cno'].errors.required">
                                                    <p class="help is-danger">{{err_message}}</p>
                                                  </div>
     
                                                  
                                              </div>
                                          </div>

                                          <!-- street -->
                                          <div class="field">
                                              <label class="label">Street:</label>
                                              <p class="control is-expanded has-icons-left">
                                                <input class="input" type="text" formControlName="street" placeholder="e.g. Gomez Street" [(ngModel)]="address.street" [ngClass] ="{ 'is-danger': addressFrm.controls['street'].invalid && (addressFrm.controls['street'].dirty || addressFrm.controls['street'].touched) ,'is-success' : addressFrm.controls['street'].valid }" >
                                                <span class="icon is-small is-left">
                                                <i class="fa fa-street-view"></i>
                                                </span>
                                              </p>
                                              <div *ngIf="addressFrm.controls['street'].invalid && (addressFrm.controls['street'].dirty || addressFrm.controls['street'].touched)">
                                                  <div *ngIf="addressFrm.controls['street'].errors.required">
                                                    <p class="help is-danger">{{err_message}}</p>
                                                  </div>
                                              </div>
                                          </div>
                                         

                                        </div>
                                      </div> 

                                      <div class="field is-horizontal">
                                          <div class="field-body">
                                            <!-- units -->
                                             <div class="field">
                                                <label class="label">Unit:</label>
                                                <p class="control is-expanded has-icons-left">
                                                   <input class="input" type="text" formControlName="unit" placeholder="e.g. Bldg. 101" [(ngModel)]="address.unit" [ngClass] ="{ 'is-danger': addressFrm.controls['unit'].invalid && (addressFrm.controls['unit'].dirty || addressFrm.controls['unit'].touched) ,'is-success' : addressFrm.controls['unit'].valid }" >
                                                   <span class="icon is-small is-left">
                                                   <i class="fa fa-university"></i>
                                                   </span>
                                                </p>
                                                <div *ngIf="addressFrm.controls['unit'].invalid && (addressFrm.controls['unit'].dirty || addressFrm.controls['unit'].touched)">
                                                    <div *ngIf="addressFrm.controls['unit'].errors.required">
                                                      <p class="help is-danger">{{err_message}}</p>
                                                    </div>
                                                </div>
                                             </div>

                                             <!-- city -->
                                             <div class="field">
                                                <label class="label">City:</label>
                                                <p class="control is-expanded has-icons-left">
                                                   <input class="input" type="text" formControlName="city" placeholder="e.g. Cebu City" [(ngModel)]="address.city" [ngClass] ="{ 'is-danger': addressFrm.controls['city'].invalid && (addressFrm.controls['city'].dirty || addressFrm.controls['city'].touched) ,'is-success' : addressFrm.controls['city'].valid }" >
                                                   <span class="icon is-small is-left">
                                                   <i class="fa fa-university"></i>
                                                   </span>
                                                </p>
                                                <div *ngIf="addressFrm.controls['city'].invalid && (addressFrm.controls['city'].dirty || addressFrm.controls['city'].touched)">
                                                    <div *ngIf="addressFrm.controls['city'].errors.required">
                                                      <p class="help is-danger">{{err_message}}</p>
                                                    </div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                      
                                       <div class="field is-horizontal">
                                          <div class="field-body">
                                             <div class="field">
                                                <!-- state -->
                                                <label class="label">State:</label>
                                                <p class="control is-expanded has-icons-left">
                                                   <input class="input" type="text" formControlName="state" placeholder="e.g. United States" [(ngModel)]="address.state" [ngClass] ="{ 'is-danger': addressFrm.controls['state'].invalid && (addressFrm.controls['state'].dirty || addressFrm.controls['state'].touched) ,'is-success' : addressFrm.controls['state'].valid }" >
                                                   <span class="icon is-small is-left">
                                                   <i class="fa fa-university"></i>
                                                   </span>
                                                </p>
                                                <div *ngIf="addressFrm.controls['state'].invalid && (addressFrm.controls['state'].dirty || addressFrm.controls['state'].touched)">
                                                    <div *ngIf="addressFrm.controls['state'].errors.required">
                                                      <p class="help is-danger">{{err_message}}</p>
                                                    </div>
                                                </div>

                                             </div>
                                             <div class="field">
                                               <!-- zip code -->
                                                <label class="label">Zip Code:</label>
                                                <p class="control is-expanded has-icons-left">
                                                   <input class="input" type="text" formControlName="zipCode" placeholder="e.g. 7000" [(ngModel)]="address.zipCode" [ngClass] ="{ 'is-danger': addressFrm.controls['zipCode'].invalid && (addressFrm.controls['zipCode'].dirty || addressFrm.controls['zipCode'].touched) ,'is-success' : addressFrm.controls['zipCode'].valid }" >
                                                   <span class="icon is-small is-left">
                                                   <i class="fa fa-university"></i>
                                                   </span>
                                                </p>
                                                <div *ngIf="addressFrm.controls['zipCode'].invalid && (addressFrm.controls['zipCode'].dirty || addressFrm.controls['zipCode'].touched)">
                                                    <div *ngIf="addressFrm.controls['zipCode'].errors.required">
                                                      <p class="help is-danger">{{err_message}}</p>
                                                    </div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                    

                                   
                                    </form> 
                                </div>
                              </article>
                            </div>
                           
                          </div>

                          <!-- list of address -->
                          <div class="tile is-vertical"  *ngIf="this.countAddress <= 0 ? false : true">
                              
                              <article class="tile is-child notification has-background-success-light">
                                  <div class="content">
                                                                                       
                                      <div class="notification is-success" *ngFor="let address of addressObj;index as i" >
                                          <button class="delete" (click)= "deleteAddress(i)" ></button>
                                          {{address.type + ' ' + address.number   + '  ' +  address.street + ', ' + address.unit + ' , ' + address.city + ' , ' + address.state + ' , ' + address.zipCode}}
                                        </div>
                                  
                                  </div>
                                </article>
                             
                             
                            </div>
                         
                        </div>

                       <br/>
                       <div class="field is-horizontal">
                          <p class="has-text-info is-size-6">Communication</p>
                       </div>
                       <hr class="divider">


                       
                       <!-- Communication-->

                       <div class="tile is-ancestor">

                          <!-- fields -->
                         <div class="tile is-vertical">
                           <div class="tile is-parent">
                             <article class="tile is-child notification has-background-success-light">
                               <div class="content">
                                 <form [formGroup] = "communicationFrm">

                                     <div class="field is-grouped is-grouped-right">
                                         <button class="button is-success" [disabled] = "communicationFrm.invalid" (click)= "addCommunication()">
                                         Add New Communication
                                         </button>
                                      </div>

                                   <div class="field is-horizontal">
                                       <div class="field-body">
                                          <!-- type -->
                                          <div class="field">
                                              <label class="label">Type:</label>
                                              <p class="control is-expanded has-icons-left">
                                                 <input class="input" type="text" formControlName="ctype" placeholder="e.g. email"  [(ngModel)]="communication.type" [ngClass] ="{ 'is-danger': communicationFrm.controls['ctype'].invalid && (communicationFrm.controls['ctype'].dirty || communicationFrm.controls['ctype'].touched) ,'is-success' : communicationFrm.controls['ctype'].valid }" >
                                                 <span class="icon is-small is-left">
                                                 <i class="fa fa-home"></i>
                                                 </span>
                                              </p>
                                              <div *ngIf="communicationFrm.controls['ctype'].invalid && (communicationFrm.controls['ctype'].dirty || communicationFrm.controls['ctype'].touched)">
                                                  <div *ngIf="communicationFrm.controls['ctype'].errors.required">
                                                    <p class="help is-danger">{{err_message}}</p>
                                                  </div>
                                              </div>
                                           </div>
                                     
                                         <!-- preferred -->
                                         <div class="field">
                                            <label class="label">Value:</label>
                                            <p class="control is-expanded has-icons-left">
                                               <input class="input" type="text" formControlName="val" placeholder="e.g. johnSmith@gmail.com" [(ngModel)]="communication.val" [ngClass] ="{ 'is-danger': communicationFrm.controls['val'].invalid && (communicationFrm.controls['val'].dirty || communicationFrm.controls['val'].touched) ,'is-success' : communicationFrm.controls['val'].valid }" >
                                               <span class="icon is-small is-left">
                                               <i class="fa fa-home"></i>
                                               </span>
                                            </p>
                                            <div *ngIf="communicationFrm.controls['val'].invalid && (communicationFrm.controls['val'].dirty || communicationFrm.controls['val'].touched)">
                                                <div *ngIf="communicationFrm.controls['val'].errors.required">
                                                  <p class="help is-danger">{{err_message}}</p>
                                                </div>
                                            </div>
                                            
                                         </div>

                                         <!-- preferred -->
                                         <div class="field">
                                            <label class="label">Preferred:</label>
                                            <div class="control">
                                                <label class="radio" >
                                                  <input type="radio"  formControlName="preferred" [value] = true  [(ngModel)]="communication.preferred"/>
                                                  Yes
                                                </label>
                                               
                                                <label class="radio">
                                                  <input type="radio"  formControlName="preferred"  [value] = false  [(ngModel)]="communication.preferred"/>
                                                  No
                                                </label>
                                                
                                              </div>
                            
                                         </div>
                                        

                                       </div>
                                     </div> 
                                  
                                   </form> 
                               </div>
                             </article>
                           </div>
                          
                         </div>

                         <!-- list of address -->
                         <div class="tile is-vertical"  *ngIf="this.countCom <= 0 ? false : true">
                             
                             <article class="tile is-child notification has-background-success-light">
                                 <div class="content">
                                                                                      
                                     <div class="notification is-success" *ngFor="let communication of communicationObj;index as i" >
                                         <button class="delete" (click)= "deleteCommunication(i)" ></button>
                                         {{ communication.type + ' ' + communication.val   + ' ----> '}} Preferred : {{   communication.preferred ? 'Yes':'No' }}
                                       </div>
                                 
                                 </div>
                               </article>
                            
                            
                           </div>
                        
                       </div>

                     
  
  
                    <br/>
                
                      <div class="field is-grouped is-grouped-right">
                          <button *ngIf="isUpdate"  class="button is-primary" (click)="back()" >
                              Back
                          </button> &nbsp; 
                        <button  *ngIf="!isUpdate" class="button is-success" (click) = "onSubmit()" >
                          Submit
                          </button>
                          <button  *ngIf="isUpdate" class="button is-primary" (click)="onUpdate()" >
                              Update
                          </button>


                        
                      </div>
                   

                  </form>
               </div>
            </div>
         </div>
      </div>
   </section>
   